
.page {  /* flex container */
  min-height: 100vh; 
  max-height: 100vh;
  display: flex;            
  flex-direction: column     
}

.content {	/* flex item */
  flex: 1 0 auto;
}

.sticky-footer { /* flex item */
  flex-shrink: 0;             
  padding: 20px 0;
  background: #88ffaa;
  color: rgb(0, 0, 0);
  width: 97%;
  margin: 0 auto;
  border: dotted beige;
  font-weight: bold;
  text-align: center
}

